[variables]
CI = 'false'

[phases.setup]
nixPkgs = [
  "nodejs_20",
  "curl",
  "wget",
  "nano",
  "gcc",
  "gnumake",
  "python3",
  "cairo",
  "libjpeg",
  "pango",
  "giflib",
  "librsvg"
]

[phases.install]
cmds = ["npm install --legacy-peer-deps --ignore-scripts"]

[phases.build]
cmds = ["npm run build", "npm prune --omit=dev --legacy-peer-deps"]

[start]
cmd = 'npm start'